.current-card{
    border-radius:20px !important;
    
}


.current-bg{
    filter:opacity(50%);
    border-top-left-radius:50px !important;
    border-top-right-radius:50px !important;
}


.leaflet-container{
    position:relative;
    z-index:2;
    border-top-left-radius:20px !important;
    border-top-right-radius:20px !important;
    opacity: .45;

}

.day-date{
position:absolute;

    width:100%;
    z-index:3;
    background: linear-gradient(45deg,#7B46A3,#AF84CC );
    height:70px;
}


.fa-moon,.fa-sun{
    color:#FFB64D;
}

.day-date p{
    font-size:22pt;
    font-weight:600;
    color:white;
}

.day-date span{
    font-weight:400;
    font-size:36pt;
    font-family:"Times New Roman",Times, serif;
    color:white;
    position:relative;
    top:-60px;
}

.icon-container{
    border-radius:100%;
    margin-top:-100px;
    width:200px;
    height:200px;
    background:#7B46A3;
    z-index:2;
}
.icon-container img{
    margin: auto;
    width:85%;
    height:85%;
}

.fa-sync-alt{
    color:#2ed8b6;
}

.fa-cog{
    color:#FFB64D;
}

.fa-tint{
    color:#4099ff;
}

.fa-umbrella{
    color:#73b4ff;
}

#red-icon{
    color:#FF5370;
}

#blue-icon{
color:#73b4ff;
}

.lower-weather>p{
    font-size:1.2em;
}

.sun-moon{
    font-size:1.1em;
}

.temp span{
    font-weight:400;
    font-size:5em;
    letter-spacing: -5px;
    white-space:nowrap;
}

.temp p{
    padding-top:20px;
    font-size:1.2em;
    
 
}
.card-mid{
    line-height:0.5
}

.condition{
    line-height:1em;
    font-weight:700;
    font-size:2em;
    text-transform:capitalize;
    
}


.card-bottom{
    line-height:0.5;
}

.card-bottom span{
    font-size:35px;
    font-weight:100;
    line-height:0.5;
    letter-spacing: -2px;
}




.time-stamp{
    width:50vw;
    display:flex;
    justify-content:flex-end;
}

.forecast-days{
    position:absolute;
    bottom:0;
    margin-left:50px;
    transform: translatey(50px);
    background: rgb(58,58,60);
    height:100px;
    border: 2px solid white;
    width:90%;
}




.settings{
    padding-top:5px;
    color:white;
    width:100%;
    font-size:1.2em;
    z-index:3;
    background: linear-gradient(45deg,#7B46A3,#AF84CC );
    height:70px;
    border-bottom-left-radius:20px !important;
    border-bottom-right-radius:20px !important;
}

.settings>span{
    cursor: pointer;
    font-weight:500;
}


.highAndLow{
white-space:pre;
}
