body{
    background-color:black;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

.App{
max-width:500px;
margin:auto;
margin-top:100px;
}


h1,h2,h3,h4,h5,p, span,hr{
    color:white;
}


/*header component*/
.title{
    text-align:center;
    font-weight:700;
    
}

#date-time{
    font-weight:400;
}


/*current weather component */
.current-weather{
    text-align:center;
}

.current-weather-icon{
    width:100px;
    height:100px;
}


#current-weather-left{
    text-align:right;
}

#current-weather-right{
    margin-top:18px;
    text-align:left;
}


/*forecast weather componenet */
.forecast-container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    text-align:center;
}

.forecastWeather > p{
font-size: 0.8em;
padding-left:0px;
padding-right:0px;
margin-left:0px;
margin-right:0px;
}

.forecastWeather{
padding-left:0px;
padding-right:0px;
margin-left:0px;
margin-right:0px;
}

.forecast-component{
    border: 2px solid white;
    
}

